<button routerLink="/customers" class="btn btn-sm btn-danger">Back</button>
<h3 class="row justify-content-center">Add customer</h3>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form [formGroup]="customerForm">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" formControlName="address">
      <label for="tel">Tel.</label>
      <input type="text" class="form-control" id="tel" formControlName="tel">

      <button class="btn btn-primary mt-2 " type="button" (click)="createCustomer()" [hidden]="customerForm.invalid">
        Save Customer
      </button>
    </form>
  </div>
</div>
