
<div class="row justify-content-center" *ngFor="let customer of customers">
  <div class="col-md-8">
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{customer.firstName}} {{customer.lastName}}</h5>
        <div class="text-end">
          <button class="btn btn-sm btn-danger" (click)="deleteCustomer(customer.id)">
            Delete
          </button>
        </div>

        <p class="card-text">
          Tel.: {{customer.tel}}

        </p>
        <p class="card-text">Address: {{customer.address}}</p>

      </div>
    </div>
  </div>
</div>
