<button class="btn btn-md btn-warning" type="button" routerLink="/customer-add">Add Customer</button>
<h3 class="row justify-content-center">Customers</h3>
<div *ngFor="let customer of customers" class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{customer.firstName}} {{customer.lastName}}</h5>
        <div class="text-end">
          <button (click)="deleteCustomer(customer.id)" class="btn btn-sm btn-danger">
            Delete
          </button>
        </div>
        <div class="text-end">
          <button routerLink="/order-add/{{customer.id}}" class="btn btn-sm btn-primary">
            New Order
          </button>
        </div>
        <p class="card-text">
          Tel.: {{customer.tel}}

        </p>
        <p class="card-text">Address: {{customer.address}}</p>

      </div>
    </div>
  </div>
</div>
