<h3 class="row justify-content-center"> Config</h3>
<div class="row justify-content-center">

  <div class="col-md-6">
    <form [formGroup]="configForm">
      <label for="discountFrom">Discount from</label>
      <input type="number" class="form-control" id="discountFrom" formControlName="discountFrom">
      <label for="cookingStations">Cooking stations</label>
      <input type="number" class="form-control" id="cookingStations" formControlName="cookingStations">


      <button class="btn btn-primary mt-2" type="button" (click)="setConfig()" [hidden]="configForm.invalid"routerLink="/customers">
        Save Config
      </button>
    </form>
  </div>
</div>

