<div (click)="deleteDelivered()" class="btn btn-sm btn-warning">Delete Delivered</div>
<div *ngFor="let order of orders" class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{order.customer.firstName}} {{order.customer.lastName}}</h5>
        <div class="text-end">
          <button (click)="deleteOrder(order.id)" class="btn btn-sm btn-danger">
            Delete
          </button>
        </div>
        <div class="text-end">
          <button (click)="delivered(order)" class="btn btn-sm btn-primary">Delivered</button>
        </div>
        <p class="card-text">
          Tel.: {{order.customer.tel}}

        </p>
        <p class="card-text">Delivery time: {{order.deliveryTime}}</p>

      </div>
    </div>
  </div>
</div>
